@media (min-width:320px)and (max-width:480px){

    body{
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
        transition: all 2s ease;
    }
    .mobile-padding{
        padding: 0px !important;
    }
    .pl-0{
        padding-left: 0px !important;
    }
    h1.caption-heading.light-font {
        text-align: center;
        line-height: 40px;
        font-size: 34px;
    }
    p.caption-subheading {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .section-title{
        font-size: 16px;
    }
    .caption{
        margin-left: 0px;
    }

    .width-25{
        width: 100%;
    }

    .carousel-caption{
        left: 10px;
        right: 10px;
    }
    .carousel-caption {
        left: 10px;
        right: 10px;
        top: 0px;
        text-align: center !important;
        font-size: 13px;
        bottom: 0;
        padding-bottom: 0px;
    }
    .home{
        margin-bottom: -10px;
    }
    .hotels{
        margin-bottom: -10px;
        box-shadow: 5px -21px 41px -17px #040404;
    }
    .office{
        margin-bottom: 0px;
        box-shadow: inset 0px 16px 31px -12px #040404;
    }
    .mobile-display{
        display: block;
    }
    .white-svg{
        display: none;
    }
    .application {
        padding: 20px 0px 40px;
    }
    .application-type{
        margin-bottom: 40px;
    }
    
    .icon-section {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .icon-box {
        background: transparent;
        width: 80px;
        height: 80px;
    }
    .icon-box img {
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
    }


}

@media (min-width:480px)and (max-width:768px){

    .mobile-padding{
        padding: 0px !important;
    }
    .pl-0{
        padding-left: 0px !important;
    }
    h1.caption-heading.light-font {
        text-align: center;
        line-height: 40px;
        font-size: 34px;
    }
    p.caption-subheading {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .caption{
        margin-left: 0px;
    }

    .width-25{
        width: 100%;
    }

    .carousel-caption{
        left: 10px;
        right: 10px;
    }
    .carousel-caption {
        left: 20px;
        right: 20px;
        text-align: center !important;
        font-size: 14px;
        bottom: 25px;
    }

    .mobile-display{
        display: block;
    }
    .white-svg{
        display: none;
    }
    .application {
        padding: 20px 0px 40px;
    }
    .application-type{
        margin-bottom: 40px;
    }
    
    .icon-section {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .icon-box {
        background: transparent;
        width: 80px;
        height: 80px;
    }
    .icon-box img {
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 40px;
    }
}

