.modal-content {
    margin-top: 60px;
}
.no-display{
    display: none;
}
.modal-header {
    padding: 7px 15px 7px;
    border-bottom: 1px solid #ECECEC;
}
.modal-header .close {
    margin-top: 0px;
}
.close {
    float: right;
    font-size: 25px;
}
.text-white{
    color: #fff !important;
}

ul.rcorners{
    margin: 0;
    text-align: left;
    padding-left: 15px;
}
.rcorners li {
    line-height: 21px;
    margin-bottom: 5px;
    
}




.bold_center{
    font-weight: 400;
    text-align: center !important;
    float: none;
}
.mt_100{
    margin-top: 100px;
}
.p_5{
    padding: 5px !important;
}
.p_10{
    padding: 10px !important;
}
.p_15{
    padding: 15px !important;
}
.p_20{
    padding: 20px !important;
}

.m_5{
    margin: 5px !important;
}
.m_10{
    margin: 10px !important;
}
.m_15{
    margin: 15px !important;
}
.m_20{
    margin: 20px !important;
}


.mb_5{
    margin-bottom: 5px !important;
}
.mb_10{
    margin-bottom: 10px !important;
}
.mb_15{
    margin-bottom: 15px !important;
}
.mb_20{
    margin-bottom: 20px !important;
}
.mb_30{
    margin-bottom: 30px !important;
}
.mb_40{
    margin-bottom: 40px !important;
}

.mt_5{
    margin-top:5px !important;
}
.mt_10{
    margin-top:10px !important;
}
.mt_15{
    margin-top:15px !important;
}
.mt_20{
    margin-top:20px !important;
}
.mt_30{
    margin-top:30px !important;
}
.mt_40{
    margin-top:40px !important;
}


.mr_5{
    margin-right:5px !important;
}
.mr_10{
    margin-right:10px !important;
}
.mr_15{
    margin-right:15px !important;
}
.mr_20{
    margin-right:20px !important;
}

.ml_5{
    margin-left:5px !important;
}
.ml_10{
    margin-left:10px !important;
}
.ml_15{
    margin-left:15px !important;
}
.ml_20{
    margin-left:20px !important;
}
.pr-0{
    padding-right: 0px !important;
}

.heading-white{
    color: #fff !important;
}

.text_center{
    text-align: center !important;
}

.no-padding{
    padding: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

.padding_10{
    padding: 10px !important;
}
/*form elements styles*/
select.form-control
{
    box-shadow: none;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
}

/*curser pointer*/
.curser_pointer{
    cursor: pointer !important;
}